.btn-add{
  color: #fff;
  background-color: #e76727;
  float: right;
  padding-left: 5%;
  padding-right: 5%;
  text-transform: none;
}

.branch-select {
  width: 100px;
}


.branch{
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  background: rgb(115, 67, 25);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
}

img{
  width: 100px;
  height: 100px;
}
