<div class="row">
  <div class="col-md-12 mb-3">
    <select class="custom-select branch-select">
      <option selected>Type</option>
      <option value="Branch 1">Branch 1</option>
      <option value="Branch 2">Branch 2</option>
      <option value="Branch 3">Branch 3</option>
    </select>
    <button
      type="button"
      mdbBtn
      class="btn-add"
      data-toggle="modal"
      (click)="frame.show()"
      size="sm"
      mdbWavesEffect
    >
      Add Customer
    </button>
  </div>

  <div class="col-md-12">
    <mdb-card class="mb-2" *ngFor="let customer of this.customers">
      <div class="media" >
        <img
          class="d-flex mr-3"
          src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg"
          alt="Customer Image"
        />
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">{{customer.firstName}} {{customer.lastName}}</h5>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              Email Address: {{customer.email}}
            </div>
            <div class="col-md-6 col-sm-12">Mobile Number: {{customer.mobileNumber}}</div>
            <div class="col-md-6 col-sm-12">
              <p><b> Branch: </b> <span class="branch"> {{customer.branch}}</span></p>
            </div>
            <div class="col-md-6 col-sm-12">
              <p><b> Loan limit: </b> <span class="branch"> KSH {{customer.loanLimit}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </mdb-card>
  </div>
</div>

<!-- Form modal -->
<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Customer</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">

        <form [formGroup]="customerForm" (ngSubmit)="onSubmitCustomer()">
          <div class="md-form ">
            <input
              id="firstName"
              type="text"
              class="form-control validate"
              formControlName="firstName"
              mdbInput 
              mdbValidate
            />
            <label for="firstName" data-error="wrong" data-success="right">First Name</label>
          </div>

          <div class="md-form ">
            <input
              id="lastName"
              type="text"
              class="form-control validate"
              formControlName="lastName"
              mdbInput 
              mdbValidate
            />
            <label for="lastName" data-error="wrong" data-success="right">Last Name</label>
          </div>

          <div class="md-form ">
            <input
              id="email"
              type="email"
              class="form-control validate"
              formControlName="email"
              mdbInput 
              mdbValidate
            />
            <label for="email" data-error="wrong" data-success="right">Email Address</label>
          </div>

          <div class="md-form ">
            <input
              id="mobileNumber"
              type="number"
              class="form-control validate"
              formControlName="mobileNumber"
              mdbInput 
              mdbValidate
            />
            <label for="mobileNumber" data-error="wrong" data-success="right">Mobile Number</label>
          </div>

          <div class="md-form ">
            <input
              id="loanLimit"
              type="number"
              class="form-control validate"
              formControlName="loanLimit"
              mdbInput 
              mdbValidate
            />
            <label for="loanLimit" data-error="wrong" data-success="right">Loan Limit</label>
          </div>

          <div class="md-form ">
            <select class="custom-select" formControlName="branch" required>
              <option selected>Type</option>
              <option value="Branch 1">Branch 1</option>
              <option value="Branch 2">Branch 2</option>
              <option value="Branch 3">Branch 3</option>
            </select>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" mdbBtn color="indigo" class="waves-light" mdbWavesEffect>
              Send <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
